
hypervisor_host = "node1.co.slakin.net"
qemu_uri_path = "qemu+ssh://root@node1.co.slakin.net/system?keyfile=/home/msnow/.ssh/localonly.key"
ip_gateway = "172.16.1.254"
hostname_prefix = "node1"

machines = {
    "vm1-self-hosted-small" = {
      hostname     = "node1vm01.co.slakin.net"
      mac          = "de:ad:be:ef:1d:62"
      ip_addr      = "172.16.1.62"
      disk_size    = 50000000000
      memory       = 4096
      vcpu         = 2
      machine_type = "q35"
      os           = "ubuntu-focal"
      cloud-init   = "ubuntu-focal"
      network_config = "network_config_ubuntu.cfg"
    },

    "vm2-self-hosted-med" = {
      hostname     = "node1vm02.co.slakin.net"
      mac          = "de:ad:be:ef:1d:63"
      ip_addr      = "172.16.1.63"
      disk_size    = 50000000000
      memory       = 4096
      vcpu         = 2
      machine_type = "q35"
      os           = "ubuntu-jammy"
      cloud-init   = "ubuntu-jammy"
      network_config = "network_config_ubuntu.cfg"
    },
  }

